<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <http name="resources" security="none" request-matcher="regex" pattern="[/](css|images|js)[/].+"/>

    <http use-expressions="true">
        <form-login login-page="/auth/login"/>

        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/index1.html" access="permitAll()"/>
        <intercept-url pattern="/index2.html" access="permitAll()"/>
        <intercept-url pattern="/snoop.jsp" access="hasRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/auth/login" access="isAnonymous()"/>
        <intercept-url pattern="/auth/register" access="isAnonymous()"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="nadya" password="nadyapassword" authorities="ROLE_USER, ROLE_ADMIN"/>
                <user name="bob" password="bobpassword" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>